
@{
    ViewData["Title"] = "Index";
}

<h1>Message flow</h1>

<button class="btn btn-info" id="btnStart">Start</button>


<script src="~/js/MessageFlow/Enums/MessageStyle.js"></script>
<script src="~/js/MessageFlow/Enums/MessageType.js"></script>
<script src="~/js/MessageFlow/Models/COntrol.js"></script>
<script src="~/js/MessageFlow/Models/Message.js"></script>
<script src="~/js/MessageFlow/Models/MessageChain.js"></script>
<script src="~/js/MessageFlow/Models/Controls/ButtonControl.js"></script>
<script src="~/js/MessageFlow/Service/MessageFlowService.js"></script>


<script>
    $('#btnStart').click(function () {
        var messageFlowService = new MessageFlowService();
        messageFlowService.FlowStart();
    })

</script>