
@{
    ViewData["Title"] = "Index";
}

<h1>Message flow</h1>

<button class="btn btn-info" id="btnStart">Start</button>


<script src="~/js/min/message.flow.min.js"></script>

<script>
    $('#btnStart').click(function () {
        var messageFlowService = new MessageFlowService();
        messageFlowService.FlowStart();
    })

</script>